.widget{
	display: inline-block;
	@include padding(both,2);
	padding-top: 24px;
	padding-bottom: 24px;
	vertical-align: top;
	width: 100%;
	@include bp(toddler){
		// 12 column + gutters - outer padding
		@include columns(4);
	}
	@include bp(adult){
		// 12 column * gutters - outer padding
		@include columns(4);
	}
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}
.widget-area {
	background: #f3f3f4;
	color: $grey; 
	float: left;
	overflow: hidden;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	li{
		a{
			color: $grey;
			display: block;
		}
	}
	a{
		color: $red;
		&:hover{
			color: $red;
		}
	}
}
.widget:nth-child(4n+1),
.widget:nth-child(4n+4) {
	@include bp(toddler){
		@include columns(6);	
	}
	@include bp(adult){
		@include columns(8);	
	}
}
.widget:nth-child(4n+1) > h1,
.widget:nth-child(4n+4) > h1{
	border-top: 5px solid $dgrey;
}
.widget:nth-child(4n+2) > h1,
.widget:nth-child(4n+3) > h1{
	border-top: 5px solid $red;
}